@model ISZKR.ViewModels.PersonTablesViewModel

<div class="tables">
    <h3>Wykształcenie</h3>
    <table class="table table-striped" id="edu-table">
        <thead>
            <tr>
                <th>Wykształcenie</th>
                <th>Nazwa</th>
                <th>Rozpoczęcie</th>
                <th>Ukończenie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var edu in Model.EducationHistoryList)
            {
            <tr id="edu-row-@edu.ID">
                <td id="edu-level-row-@edu.ID">@edu.EducationLevel</td>
                <td id="edu-name-row-@edu.ID">@edu.InstitutionName</td>
                <td id="edu-start-row-@edu.ID">@if (edu.StartDateTime != DateTime.Parse("1900-01-01")) { @edu.StartDateTime.Date.ToString("d MMMM yyyy") }</td>
                <td id="edu-end-row-@edu.ID">@if (edu.EndDateTime != DateTime.Parse("1900-01-01")) { @edu.EndDateTime.Date.ToString("d MMMM yyyy") }</td>
                <td>
                    <button id="edu_edit_button-@edu.ID" value="Edit" class="btn-primary table-edit-btn" onclick="edu_edit_row(@edu.ID)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button id="edu_save_button-@edu.ID" value="Save" class="btn-success table-save-btn" onclick="edu_save_row(@Model.person.ID, @edu.ID)"><i class="glyphicon glyphicon-ok"></i></button>
                    <button value="Delete" class="btn-danger table-delete-btn" onclick="edu_delete_row(@edu.ID)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            }
            <tr>
                <td>
                    <select id="new-edu-level">

                        <option value="Podstawowe">Podstawowe</option>
                        <option value="Gimnazjalne">Gimnazjalne</option>
                        <option value="Techniczne">Techniczne</option>
                        <option value="Zawodowe">Zawodowe</option>
                        <option value="Licealne">Licealne</option>
                        <option value="Licencjackie">Licencjackie</option>
                        <option value="Inżynierskie">Inżynierskie</option>
                        <option value="Magisterskie">Magisterskie</option>
                        <option value="Doktorskie">Doktorskie</option>
                        <option value="Profesorskie">Profesorskie</option>

                    </select>
                </td>

                <td><input type="text" id="new-edu-name"></td>
                <td><input type="date" id="new-edu-start"></td>
                <td><input type="date" id="new-edu-end"></td>
                <td><button class="btn-primary table-add-btn" onclick="edu_add_row(@Model.person.ID);"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
        </tbody>
    </table>

    <h3>Historia zawodowa</h3>
    <table class="table table-striped" id="work-table">
        <thead>
            <tr>
                <th>Stanowisko</th>
                <th>Pracodawca</th>
                <th>Adres</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pro in Model.ProfessionHistoryList)
            {
            <tr id='work-row-@pro.ID'>
                <td id='work-name-row-@pro.ID'>@pro.Position</td>
                <td id='work-employer-row-@pro.ID'>@pro.EmployerName</td>
                <td id='work-address-row-@pro.ID'>@pro.Address</td>
                <td id='work-start-row-@pro.ID'>@if (pro.StartDateTime != DateTime.Parse("1900-01-01")) { @pro.StartDateTime.Date.ToString("d MMMM yyyy") }
                </td>
                <td id='work-end-row-@pro.ID'>@if (pro.EndDateTime != DateTime.Parse("1900-01-01")) { @pro.EndDateTime.Date.ToString("d MMMM yyyy") }</td>
                <td>
                    <button id="work_edit_button-@pro.ID" value="Edit" class="btn-primary table-edit-btn" onclick="work_edit_row(@pro.ID)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button id="work_save_button-@pro.ID" value="Save" class="btn-success table-save-btn" onclick="work_save_row(@Model.person.ID, @pro.ID)"><i class="glyphicon glyphicon-ok"></i></button>
                    <button value="Delete" class="btn-danger table-delete-btn" onclick="work_delete_row(@pro.ID)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            }
            <tr>
                <td><input type="text" id='new-work-name'></td>
                <td><input type="text" id='new-work-employer'></td>
                <td><input type="text" id='new-work-address'></td>
                <td><input type="date" id='new-work-start'></td>
                <td><input type="date" id='new-work-end'></td>
                <td><button class="btn-primary table-add-btn" onclick="work_add_row(@Model.person.ID);"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
        </tbody>
    </table>

    <h3>Historia zamieszkania</h3>
    <table class="table table-striped" id="home-table">
        <thead>
            <tr>
                <th>Miasto</th>
                <th>Adres</th>
                <th>Kraj</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.ResidenceHistoryList)
            {
            <tr id='home-row-@res.ID'>
                <td id='home-city-row-@res.ID'>@res.City</td>
                <td id='home-address-row-@res.ID'>@res.Address</td>
                <td id='home-country-row-@res.ID'>@res.Country</td>
                <td id='home-start-row-@res.ID'>@if (res.StartDateTime != DateTime.Parse("1900-01-01")) { @res.StartDateTime.Date.ToString("d MMMM yyyy") }</td>
                <td id='home-end-row-@res.ID'>@if (res.EndDateTime != DateTime.Parse("1900-01-01")) { @res.EndDateTime.Date.ToString("d MMMM yyyy") }</td>
                <td>
                    <button id="home_edit_button-@res.ID" value="Edit" class="btn-primary table-edit-btn" onclick="home_edit_row(@res.ID)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button id="home_save_button-@res.ID" value="Save" class="btn-success table-save-btn" onclick="home_save_row(@Model.person.ID, @res.ID)"><i class="glyphicon glyphicon-ok"></i></button>
                    <button value="Delete" class="btn-danger table-delete-btn" onclick="home_delete_row(@res.ID)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            }
            <tr>
                <td><input type="text" id='new-home-city'></td>
                <td><input type="text" id='new-home-address'></td>
                <td><input type="text" id='new-home-country'></td>
                <td><input type="date" id='new-home-start'></td>
                <td><input type="date" id='new-home-end'></td>
                <td><button class="btn-primary table-add-btn" onclick="home_add_row(@Model.person.ID);"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

@Scripts.Render("~/Content/TableEdit")
