@{
    ViewBag.Title = "ISZKR - Strona Główna";
}

@if (Request.IsAuthenticated)
{
    <h3>Statystyki kroniki</h3>
    <div class="panel-group col-sm-10 panel-group-stats">

        <div class="panel panel-info col-sm-5 stats stats-persons">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#close-relatives-collapse">Osoby</a>
                </h4>
            </div>
            <div class="panel-body">
                Ilość osób: @ViewBag.PersonsQuantity<br />
                Ilość mężczyzn: @ViewBag.MenQuantity<br />
                Ilość kobiet: @ViewBag.WomenQuantity<br />
            </div>
        </div>

        <div class="panel panel-info col-sm-5 stats stats-content">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#close-relatives-collapse">Inne</a>
                </h4>
            </div>
            <div class="panel-body">
                Ilość zdarzeń: @ViewBag.EventsQuantity<br />
                Ilość zdjęć: @ViewBag.PhotosQuantity<br />
            </div>

        </div>
    </div>
                <br />

                <h3 style="clear: both">Ostatnio dodane</h3>
                <div class="panel-group col-sm-10 panel-group-stats">
                    <div class="panel panel-info col-sm-5 stats last-persons">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#close-relatives-collapse">Osoby</a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            @foreach(var person in ViewBag.LastAddedPersons)
                            {
                                <a href="@Url.Action("Person", "Person", new { id = person.ID })">@person.Name @person.Surname</a><br />
                            }
                        </div>
                    </div>

                    <div class="panel panel-info col-sm-5 stats last-content">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#close-relatives-collapse">Zdarzenia</a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            @foreach (var events in ViewBag.LastAddedEvents)
                            {
                                <a href="@Url.Action("Events", "Events", new { id = events.ID })">@events.Title</a><br />
                            }
                        </div>
                    </div>
                </div>
}
else
{
<div class="jumbotron">
    <span class="alert-danger">@ViewBag.Message</span>
    <h1 class="display-3">ISZKR</h1>
    <p class="lead">Czyli <b>Internetowy System Zarządzania Kroniką Rodzinną</b>.</p>
    <hr class="my-4">
    <p>
        Oferowane funkcjonalności:
        <ul>
            <li>Osoby - informacje o relacjach rodzinnych, wykształceniu, historii zawodowej, miejscach zamieszkania</li>
            <li>Zdarzenia - podobne do wpisu na blogu/w pamiętniku. Gdzie miało miejsce, kto brał udział.</li>
            <li>Zdjęcia - przypisane do osób lub zdarzeń.</li>
        </ul>
    </p>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#login-form" aria-expanded="false" aria-controls="nav-collapse2">Zaloguj się</a>
        @Html.ActionLink("Zarejestruj się", "Register", "Account", new { ReturnUrl = "" }, new { @class = "btn btn-warning btn-lg", role = "button" })

    </p>
</div>
}