@model ISZKR.ViewModels.OutsideViewModel

@{
    ViewBag.Title = Model.Events.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.isEditable)
{
    @* ######################################### MOŻLIWOŚC EDYCJI #########################################*@

<div class="event-site-content">
    <div class="basic-info col-sm-4">

        <h1 id="events-title">@Model.Events.Title</h1>
        @using (Ajax.BeginForm("EditTitle", "Events", new { },
                    new AjaxOptions { OnSuccess = "successEditEventsTitle(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "title-edit-form" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.Title, new { htmlAttributes = new { @id = "events-title-edit-textbox" } })
            <button class="btn btn-success events-title-edit-btn" id="events-title-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }
        @if (Model.Events.StartDateTime == DateTime.Parse("1900-01-01"))
        {
            <span id="events-start"><b>Początek</b> Brak danych</span><br />
        }
        else
        {
            <span id="events-start"><b>Początek</b> @Model.Events.StartDateTime.Date.ToString("d MMMM yyyy")</span><br />
        }
        <!--EDIT -->
        @using (Ajax.BeginForm("EditStart", "Events", new { },
                    new AjaxOptions { OnSuccess = "successEditEventsStart(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "events-start-edit" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.StartDateTime, new { htmlAttributes = new { @id = "events-start-edit-date" } })
            <button class="btn btn-success events-start-edit-btn" id="events-start-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }

        @if (Model.Events.EndDateTime == DateTime.Parse("1900-01-01"))
        {
            <span id="events-end"><b>Koniec:</b> Brak danych</span><br />
        }
        else
        {
            <span id="events-end"><b>Koniec:</b> @Model.Events.EndDateTime.Date.ToString("d MMMM yyyy")</span><br />
        }
        <!--EDIT -->
        @using (Ajax.BeginForm("EditEnd", "Events", new { },
                        new AjaxOptions { OnSuccess = "successEditEventsEnd(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "events-end-edit" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.EndDateTime, new { htmlAttributes = new { @id = "events-end-edit-date" } })
            <button class="btn btn-success events-end-edit-btn" id="events-end-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }

        <span id="events-place"><b>Miejsce: </b> @Model.Events.Place</span>
        @using (Ajax.BeginForm("EditPlace", "Events", new { },
                        new AjaxOptions { OnSuccess = "successEditEventsPlace(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "place-edit-form" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.Place, new { htmlAttributes = new { @id = "events-place-edit-textbox" } })
            <button class="btn btn-success events-place-edit-btn" id="events-place-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }

    </div>

    <!-- ############################## PANEL PODSTAWOWYCH UCZESTNIKÓW ############################## -->
    <div class="participants-panels">
        <div class="panel-group main-participants-panel  col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Podstawowi uczestnicy
                        <a href="#" id="main-participants-edit" class="edit" data-toggle="modal" data-target="#editMainParticipants" onclick="editEventsMainParticipantsClick()"><i class="glyphicon glyphicon-pencil"></i></a>
                    </h4>
                </div>
                <div class="panel-body">
                    @{ var comma = ", "; }
                    @foreach (var e in Model.MainPersonsListFromEvent)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.MainPersonsListFromEvent.Last()))
                        {@comma}</a>
                    }
                </div>
            </div>
        </div>

        <!-- ############################## PANEL POZOSTAŁYCH UCZESTNIKÓW ############################## -->

        <div class="panel-group other-participants-panel  col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Inni uczestnicy
                        <a href="#" id="participants-edit" class="edit" data-toggle="modal" data-target="#editParticipants" onclick="editEventsParticipantsClick()"><i class="glyphicon glyphicon-pencil"></i></a>
                    </h4>
                </div>
                <div class="panel-body">
                    @*@for (var i=0; i < Model.Events.MainEventParticipants.Count(); i++)
                        {
                            Html.ActionLink(Model.Events.MainEventParticipants[i].Name + " " + Model.Events.MainEventParticipants[i].Surname, "Person", new { id = Model.Events.MainEventParticipants[i].ID })
                        }*@

                    @foreach (var e in Model.PersonsListFromEvents)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.MainPersonsListFromEvent.Last()))
                        {@comma} </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="description">

        <h3>
            Opis
            <button id="desc-edit-btn" class="btn btn-sm btn-primary" onclick="edit_desc()" type="button">Edytuj</button>
            <button id="desc-save-btn" class="btn btn-sm btn-success" onclick="save_desc(@Model.Events.ID)" type="button">Zapisz</button>
        </h3>
    </div>
    <div id="description_content"></div>

    <script>
        $(document).ready(function () {
            $('#description_content').html(decodeURIComponent('@Html.Raw(Model.Events.Content)'));
        });
    </script>

</div>

@Html.Action("RenderGallery", "Events", new { Model.Events })


<div class="modal fade MainEventsParticipantsEdit" id="MainEventsParticipantsEdit" data-url="@Url.Action("MainEventsList", "Events", new { eventsID=Model.Events.ID })" tabindex="-1" role="dialog" aria-labelledby="MainEventsParticipantsEdit" aria-hidden="true"></div>
<div class="modal fade EventsParticipantsEdit" id="EventsParticipantsEdit" data-url="@Url.Action("EventsList", "Events", new { eventsID=Model.Events.ID })" tabindex="-1" role="dialog" aria-labelledby="EventsParticipantsEdit" aria-hidden="true"></div>


<div class="modal fade" id="UploadFilesModal" tabindex="-1" role="dialog" aria-labelledby="UploadFilesModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Dodaj zdjęcia*
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UploadFiles", "Photo", new { eventsID = Model.Events.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <span style="font-size:11px;">* - mała sugestia... aby uniknąć błędów postaraj się nie wybierać plików o łącznej wielkości większej niż 40 MB</span>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div>
                                @Html.TextBox("files", "", new { type = "file", @multiple = "multiple", @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <input type="submit" value="Prześlij" class="btn btn-primary" />
                }
            </div>

        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/PersonEdit.js")
@Scripts.Render("~/Scripts/PhotoEdit.js")
@Scripts.Render("~/Scripts/EventsEdit.js")

}

else
{
    @* ######################################### BRAK MOŻLIWOŚCI EDYCJI #########################################*@
<div class="event-site-content">
    <div class="basic-info col-sm-4">

        <h1 id="events-title">@Model.Events.Title</h1>
        @if (Model.Events.StartDateTime == DateTime.Parse("1900-01-01"))
        {
            <span id="events-start"><b>Początek</b> Brak danych</span><br />
        }
        else
        {
            <span id="events-start"><b>Początek</b> @Model.Events.StartDateTime.Date.ToString("d MMMM yyyy")</span><br />
        }

        @if (Model.Events.EndDateTime == DateTime.Parse("1900-01-01"))
        {
            <span id="events-end"><b>Koniec:</b> Brak danych</span><br />
        }
        else
        {
            <span id="events-end"><b>Koniec:</b> @Model.Events.EndDateTime.Date.ToString("d MMMM yyyy")</span><br />
        }

        <span id="events-place"><b>Miejsce: </b> @Model.Events.Place</span>

    </div>

    <!-- ############################## PANEL PODSTAWOWYCH UCZESTNIKÓW ############################## -->
    <div class="participants-panels">
        <div class="panel-group main-participants-panel  col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Podstawowi uczestnicy
                    </h4>
                </div>
                <div class="panel-body">
                    @{ var comma = ", "; }
                    @foreach (var e in Model.MainPersonsListFromEvent)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.MainPersonsListFromEvent.Last()))
                        {@comma}</a>
                    }
                </div>
            </div>
        </div>

        <!-- ############################## PANEL POZOSTAŁYCH UCZESTNIKÓW ############################## -->

        <div class="panel-group other-participants-panel  col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Inni uczestnicy
                    </h4>
                </div>
                <div class="panel-body">
                    @foreach (var e in Model.PersonsListFromEvents)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.PersonsListFromEvents.Last()))
                        {@comma} </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="description">

        <h3>
            Opis
        </h3>
    </div>
    <div id="description_content"></div>

    <script>
        $(document).ready(function () {
            $('#description_content').html(decodeURIComponent('@Html.Raw(Model.Events.Content)'));
        });
    </script>

</div>

@Html.Action("RenderEditableGallery", "Events", new { Model.Events })
}