@model ISZKR.ViewModels.OutsideViewModel

@{
    ViewBag.Title = Model.Events.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@**if (Request.IsAuthenticated)
    {
*@

<div class="event-site-content">
    <div class="basic-info col-sm-4">

        <h1 id="events-title">@Model.Events.Title</h1>
        @using (Ajax.BeginForm("EditTitle", "Events", new { },
                    new AjaxOptions { OnSuccess = "successEditEventsTitle(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "title-edit-form" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.Title, new { htmlAttributes = new { @id = "events-title-edit-textbox" } })
            <button class="btn btn-success events-title-edit-btn" id="events-title-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }

        <span id="events-start"><b>Początek</b> @Model.Events.StartDateTime</span><br />
        <!--EDIT -->
        @using (Ajax.BeginForm("EditStart", "Events", new { },
                    new AjaxOptions { OnSuccess = "successEditEventsStart(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "events-start-edit" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.StartDateTime, new { htmlAttributes = new { @id = "events-start-edit-date" } })
            <button class="btn btn-success events-start-edit-btn" id="events-start-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }
        <br />

        <span id="events-end"><b>Koniec:</b> @Model.Events.EndDateTime</span><br />
        <!--EDIT -->
        @using (Ajax.BeginForm("EditEnd", "Events", new { },
                        new AjaxOptions { OnSuccess = "successEditEventsEnd(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "events-end-edit" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.EndDateTime, new { htmlAttributes = new { @id = "events-end-edit-date" } })
            <button class="btn btn-success events-end-edit-btn" id="events-end-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }
        <br />

        <span id="events-place"><b>Miejsce: </b> @Model.Events.Place</span>
        @using (Ajax.BeginForm("EditPlace", "Events", new { },
                        new AjaxOptions { OnSuccess = "successEditEventsPlace(data)", HttpMethod = FormMethod.Post.ToString() }, new { id = "place-edit-form" }))
        {
            @Html.HiddenFor(Model => Model.Events.ID)
            @Html.EditorFor(Model => Model.Events.Place, new { htmlAttributes = new { @id = "events-place-edit-textbox" } })
            <button class="btn btn-success events-place-edit-btn" id="events-place-edit-btn" type="submit"><i class="glyphicon glyphicon-ok"></i></button>
        }

    </div>

    <!-- ############################## PANEL PODSTAWOWYCH UCZESTNIKÓW ############################## -->
    <div class="participants-panels">
        <div class="panel-group main-participants-panel  col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Podstawowi uczestnicy
                        <a href="#" id="main-participants-edit" class="edit" data-toggle="modal" data-target="#editMainParticipants"><i class="glyphicon glyphicon-pencil"></i></a>
                    </h4>
                </div>
                <div class="panel-body">
                    @{ var comma = ", "; }
                    @foreach (var e in Model.MainPersonsListFromEvent)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.MainPersonsListFromEvent.Last()))
                        {@comma}</a>
                    }
                </div>
            </div>
        </div>

        <!-- ############################## PANEL POZOSTAŁYCH UCZESTNIKÓW ############################## -->

        <div class="panel-group other-participants-panel  col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Inni uczestnicy
                        <a href="#" id="participants-edit" class="edit" data-toggle="modal" data-target="#editParticipants"><i class="glyphicon glyphicon-pencil"></i></a>
                    </h4>
                </div>
                <div class="panel-body">
                    @*@for (var i=0; i < Model.Events.MainEventParticipants.Count(); i++)
                        {
                            Html.ActionLink(Model.Events.MainEventParticipants[i].Name + " " + Model.Events.MainEventParticipants[i].Surname, "Person", new { id = Model.Events.MainEventParticipants[i].ID })
                        }*@

                    @foreach (var e in Model.PersonsListFromEvents)
                    {
                        @:<a href="@Url.Action("Person", "Person", new { id = e.ID })">@e.Name @e.Surname@if (!e.Equals(Model.MainPersonsListFromEvent.Last()))
                        {@comma} </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="description">

        <h3>Opis</h3>
        @Html.Raw(Model.Events.Content)
    </div>

    <h3>Zdjęcia</h3>
    <section>
        <div class="gal-container">
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#1">
                        <img src="http://nabeel.co.in/files/bootsnipp/gallery/1.jpg">
                    </a>
                    <div class="modal fade" id="1" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="http://nabeel.co.in/files/bootsnipp/gallery/1.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>This is the first one on my Gallery</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</div>

}

<div class="modal fade" id="editMainParticipants" data-url="@Url.Action("EditMainParticipants", "Events", new { eventsid = Model.Events.ID})" tabindex="-1" role="dialog" aria-labelledby="editMainParticipants" aria-hidden="true"></div>
<div class="modal fade" id="editParticipants" data-url="@Url.Action("EditParticipants", "Events", new { eventsid = Model.Events.ID})" tabindex="-1" role="dialog" aria-labelledby="editParticipants" aria-hidden="true"></div>


@Scripts.Render("~/Scripts/EventsEdit.js")